<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

    <h1>Hello</h1>

    <div th:text="${message}"></div>

    <form action="/register">
        <label for="username">Enter an username:</label>
        <input type="text" name="username"/>

        <label for="password">Enter a password:</label>
        <input type="text" name="password"/>

        <input type="submit" value="submit">
    </form>

</body>
</html>